.mainNav{
    background: #20BDFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a5cffe, #20BDFF, #33beff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a5cffe, #20BDFF, #338bff); 
}

.page{
  display: flex;
}

.ref{
  cursor: pointer;
}

.linkInput{
  width: 60%;
  margin: auto;
  padding-bottom: 3rem;
}

.error-card{
  width: 60%;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  border: 2px solid rgb(94, 94, 179);
  border-radius: 3px;
}

.info-subtitle{
  margin-bottom: 2rem;
  color: rgb(80, 79, 79);
  font-weight: 400;
}

.greenBg{
  background-color: rgb(57, 160, 57);
  color: white;
}


.refTitle{
  margin-bottom: 3rem;
}

.title{
    color: white;
    font-weight: bold;
    padding-left: .5rem;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    text-align: center;
    width: 23%;
    height: 90vh;
    z-index: 999;
    background: #e5e5e9;
    border-right: 1px solid rgb(165, 164, 164);
    color: black;
    transition: all 0.3s;
}

.sidebar-title{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .activeBar, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .activeBar:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel-list{
    list-style-type: none;
    padding-left: 0;
  }

  .panel-list li{
    width: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .panel-list li span{
    margin-right: .5rem;
  }

  .main{
    padding-top: 2rem;
    text-align: center;
    width: 80%;
    height: 90vh;
    overflow-y:scroll;
  }


  .subtitle{
    margin-bottom: 2rem;
  }

  form{
    text-align: left;
    overflow-y:auto;
    border: 2px solid rgb(61, 61, 223);
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 4rem;
  }

  .content{
    margin: auto;
    width: 80%;
  }

  .content p{
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: gray;
  }

  .url{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }

  .result{
    background-color: black;
    width: 100%;
    resize: none;
    color:white;
    margin:auto;
  }

  .warning{
    border: 1px solid red;
  }

  #send-request, #send-request-2{
    color:white;
  }

  .result-text{
    margin-top: 2rem;
  }

  textarea{
    padding: 1rem;
  }

  .nav-item{
    cursor: pointer;
  }

  #convert-form{
    display: none;
  }